<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Seungho">
  <title>회원 가입</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">
<header id="header">
  header 템플릿 삽입부
  <hr>
</header>

<form>
  <label for="userId">ID</label>
  <input id="userId" type="text" required>
  <label for="password">Password</label>
  <input id="password" type="password" required>
  <label for="email">Email</label>
  <input id="email" type="email" placeholder="you@example.com">
  <label for="nickname">Nickname</label>
  <input id="nickname" type="text">
  <label for="memo">메모</label>
  <textarea id="memo" rows="3"></textarea>
  <button type="submit">가입</button>
</form>

<footer id="footer">
  <hr>
  footer 템플릿 삽입부
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous">
</script>
</body>
</html>